:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}
/* all ordered marks away */
.list {
  list-style: none;
}
/* all underlined marks away */
.link {
  text-decoration: none;
}

/* HEADER */
.logo-name {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-name-one {
  color: #2196f3;
}
.logo-name-two {
  color: #000000;
}
/* HEADER NAVIGATION LEFT SIDE */
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}
/* HEADER NAVIGATION RIGHT SIDE */
.navigation-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}
/* accent color */
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.navigation-contacts-link:hover,
.navigation-contacts-link:focus {
  color: var(--accent-color);
}

/* MAIN-SECTION-HERO */
.section-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}
.button {
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/* ADVANTAGES */
.section-advantages-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.section-advantages-list-item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}
/* SERVICES + TEAM TITLES */
.section-services-title,
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.section-team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.section-team-list-item-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* FOOTER */
.logo-name {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-name-one {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-name-two {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.contacts-info-address,
.contacts-info-email,
.contacts-info-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  /* color: #ffffff; */
}

/* .contacts-info-email,
.contacts-info-tel {
/* color: rgba(255, 255, 255, 0.6);
} */

.button1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.button1:hover,
.button1:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
